.position-box {
    stroke: #555;
    stroke-width: 0.5px;
    fill: #CFF09E;
}

body {
    background-color: #A8DBA8;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}


.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: none;
    stroke: steelblue;
}